h1 { 
	font-family:'Lobster', cursive;
	text-align: center;
    
}
h2 {
	font-family:Lato;
	text-align: center;
}

h3{
	text-align:center;
	font-family: 'Lobster', cursive;


}
.thumbnail {
	height:470px;
	border-color: #cc830e;
}

.close-image {
	position:relative;
	position:center;
	bottom:15px;

}

.jumbotron {
	background-image:url("https://raw.githubusercontent.com/KaitlynFujihara/PSL-Project/master/PSL%20Pic/moneyshot.png");
	background-size:cover;
}
	
.jumbotron h1{
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#navbar-form navbar-left {
	text-align:center;
}
